#define c01	#bf4925
#define c01a	#692814
	
#define c02 	#070d0a
#define c02a	#030705

#define c03 	#314e56
#define c03a	#1a2a2f	

#define c04 	#1f332d
#define c04a	#111c18 

#define c05 	#5d3120
#define c05a	#331a11

#define c06 	#354e3b
#define c06a	#1d2a20

#define c07 	#4f7a93
#define c07a	#2b4350

#define c08 	#708679
#define c08a	#3d4942

#define c09 	#b69fa0
#define c09a	#6a5152

*bg:	c01
*unbg:	c04
*txt: 	c01

!! Colorscheme

! special

*.foreground: c01
*.background: c02a 
*.cursorColor: c01a

! black

*.color0: c05
*.color8: c05a

! red

*.color1: c01
*.color9: c01a

! green

*.color2: c08
*.color10: c08a

! yellow

*.color3: c03
*.color11: c03a

! blue

*.color4: c03
*.color12: c03a

! magenta

*.color5: c08
*.color13: c08a

! cyan

*.color6: c07
*.color14: c07a

! white

*.color7: c09
*.color15: c09a
 
!!URxvt Appearance and functionality
URxvt.scrollBar: false
URxvt.font: xft:Inconsolata:size=14
URxvt.internalBorder: 12
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
