#define c01 #bf4925
#define c02 #070d0a
#define c03 #314e56
#define c04 #1f332d 
#define c05 #5d3120
#define c06 #354e3b
#define c07 #4f7a93
#define c08 #708679
#define c09 #b69fa0

*bg:	c01
*unbg:	c04
*txt: 	c01

!! Colorscheme

! special

*.foreground: c01
*.background: c02 
*.cursorColor: c01

! black

*.color0: c09
*.color8: c09

! red

*.color1: c03
*.color9: c03 

! green

*.color2: c06
*.color10: c06

! yellow

*.color3: c08
*.color11: c08

! blue

*.color4: c07
*.color12: c07

! magenta

*.color5: c01
*.color13: c01

! cyan

*.color6: c07
*.color14: c07

! white

*.color7: c09
*.color15: c09
 
!!URxvt Appearance and functionality
URxvt.scrollBar: false
URxvt.font: xft:Inconsolata:size=14
URxvt.internalBorder: 12
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
